#placeholder-extension-popup {
	width: 50%;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Comic Sans MS", "Papyrus", sans-serif;
	text-align: center;
	border: 2px solid red;
	padding: 15px;
}

#itemMainImg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#itemParseError, #itemContainer {
	display: none;
}