#placeholder-extension-popup {
	width: 50%;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Avenir", "Papyrus", sans-serif;
	border: 2px solid red;
	padding: 15px;
	background-color: rgba(1, 198, 216,0.75);
}

#itemMainImg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#itemParseError, #itemContainer {
	display: none;
}